html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(224, 161, 214);
}

.navbar {
	opacity: 0.85;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.row {
	padding: 50px 0;
}

.parallax {
	background-image: url("../img/parallax.jpg");
	min-height: 200px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-bg {
	background: rgba(255,255,255,0.9);
}

a {
	text-decoration: none!important;
}

@media (max-width: 992px){
	#gazdagret {
		order:1;
	}
	#gazdagret_kh {
		order:2;
	}
}


/* Órarend start */

#orarend {
	background-color: rgb(224, 198, 220);
}

table, th, td {
	border: 1px solid black!important;
}

.lila {
	background-color: #A31C8F;
	color: #FFFFFF;
}

.s_lila {
	background-color: #57064B;
	color: #FFFFFF;
}

.barna {
	background-color: #A38D2C;
	color: #FFFFFF;
}

.zold {
	background-color: #0BA399;
	color: #FFFFFF;
}

.s_zold {
	background-color: #0A5752;
	color: #FFFFFF;
}

/*@media(max-width: 1200px) {
	.table {
		font-size: 0.6em;
	}
	tr {
		padding: 0;
	}
}*/

/* Órarend end */

/* Fellépések - gallery start 

body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
}

.container.gallery-container {
	background-color: #fff;
	color: #35373a;
	min-height: 100vh;
	border-radius: 20px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
	text-align: center;
	margin-top: 70px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
}

.gallery-container p.page-description {
	text-align: center;
	max-width: 800px;
	margin: 25px auto;
	color: #888;
	font-size: 18px;
}*/

.tz-gallery {
	padding: 40px;
}

.tz-gallery .lightbox img {
	width: 100%;
	margin-bottom: 30px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


.tz-gallery .lightbox img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
	border-radius: 4px;
}

.baguetteBox-button {
	background-color: transparent !important;
}


@media(max-width: 768px) {
	body {
		padding: 0;
	}

	.container.gallery-container {
		border-radius: 0;
	}
}

/* Fellépések - gallery end */

/* Elérhetőség start */

@media (max-width: 992px) {
	#elerheto_szoveg {
		order:1;
	} 
	#elerheto_telefon {
		order:2;
	}
	#elerheto_form {
		order:3;
	}
}

#elerhetoseg {
	background-color: rgb(224, 198, 220);
}

/* Elérhetőség end */

/* Footer start */

.bg-footer {
	background-color: black;
	color: white;
	padding: 20px 0;
}

.fa {
	padding: 5px;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.6;
	color: white;
	text-decoration:none;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Footer end */
